.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem; 
}

.counter-number {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    border-radius: 0.7rem;
    font-size: 4rem;
    font-weight: bold;
    min-width: 80px;
    text-align: center;
}

/* Para tablets em modo retrato e para telefones celulares */
@media only screen and (max-width: 768px) {
    .counter-number {
        font-size: 3rem;
    }
}

/* Para dispositivos menores (telefones celulares em modo retrato) */
@media only screen and (max-width: 480px) {
    .counter-number {
        font-size: 2rem;
        min-width: 60px;
        padding: 0.8rem;
    }
}
